@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@import url(./normalize.css);
.header {
  font-family: 'Josefin Sans', serif;
  height: 100%;
  background: url("../img/header.jpg");
  background-size: 100% 100%;
  background-attachment: fixed; }
  .header .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    height: 100%; }
    .header .hero .title {
      text-align: center; }
      .header .hero .title .title__item--bold {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 48px; }
      .header .hero .title .title__item--light {
        margin: 0;
        font-size: 22px;
        font-weight: 200;
        letter-spacing: 0.19em; }
    .header .hero .header__search {
      border: 2px solid #FFF; }
      .header .hero .header__search .header__search__input {
        width: 450px;
        text-align: center;
        padding: 1em 0;
        color: #303030;
        border: 2px solid transparent;
        transition: all .6s ease-in-out; }
        .header .hero .header__search .header__search__input:focus {
          border: 2px solid #5474fd; }
        .header .hero .header__search .header__search__input:focus::-webkit-input-placeholder {
          color: transparent; }
      .header .hero .header__search .header__search__label {
        background-color: #5474fd;
        padding: 1.05em 2em;
        border: 1px solid transparent;
        transition: all .4s ease;
        text-transform: uppercase; }
        .header .hero .header__search .header__search__label:hover {
          background: transparent;
          border: 1px solid #5474fd;
          cursor: pointer; }

.about {
  color: #FFF;
  font-family: 'Josefin Sans', serif; }
  .about .about__header {
    background: #5474fd;
    text-transform: uppercase;
    padding: 25px; }
    .about .about__header .container-flex {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .about .about__header .about__header__logo {
      font-size: 24px;
      font-weight: bold; }
    .about .about__header .about__header__list {
      padding: 0;
      font-size: 0; }
      .about .about__header .about__header__list .about__header__list__item {
        display: inline-block;
        font-size: 14px;
        list-style: none;
        padding: 0 5px;
        transition: all .5s ease; }
        .about .about__header .about__header__list .about__header__list__item:hover {
          color: #0224b6;
          cursor: pointer; }
  .about .about_hz {
    background-image: url("../img/about.jpg");
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 100px; }
    .about .about_hz .about__text .about__text__title {
      margin: 0;
      font-size: 36px; }
    .about .about_hz .about__text .about__text__p1 {
      font-size: 16px; }
    .about .about_hz .about__text .about__text__p2 {
      font-size: 16px; }
    .about .about_hz .about__text .about__text__button {
      border: none;
      background: #5474fd;
      text-transform: uppercase;
      padding: 0.8em 1.5em;
      border: 2px solid transparent;
      transition: all .5s ease; }
      .about .about_hz .about__text .about__text__button:hover {
        background: transparent;
        border: 2px solid #5474fd;
        cursor: pointer; }

.how-works {
  background: #333;
  color: #FFF;
  padding: 60px; }
  .how-works .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .how-works .container-flex .how-works__mark {
      display: grid;
      justify-items: center; }
      .how-works .container-flex .how-works__mark span {
        font-family: 'Aleo';
        font-size: 36px; }

.footer {
  background: #333;
  color: #FFF;
  font-family: 'Josefin Sans', serif;
  padding: 50px; }
  .footer div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer div .footer__item {
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase; }
      .footer div .footer__item .footer__item--bold {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px; }
      .footer div .footer__item .footer__item--light {
        margin: 0;
        font-weight: 200;
        font-size: 12px; }
    .footer div .footer__social {
      padding: 0;
      font-size: 0; }
      .footer div .footer__social .footer__social__item {
        list-style: none;
        display: inline-block; }
        .footer div .footer__social .footer__social__item .footer__social__item__link {
          font-size: 16px;
          color: #FFF;
          padding: 0 5px;
          transition: all .5s ease; }
          .footer div .footer__social .footer__social__item .footer__social__item__link:hover {
            color: #5474fd; }

body, html, header {
  height: 100%; }

.ba-container {
  height: 100%;
  margin: 10px; }

.container {
  width: 1170px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
