.about {
    color: #FFF;
    font-family: 'Josefin Sans', serif;
    .about__header {
        background: $blue;
        text-transform: uppercase;
        padding: 25px;
        .container-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .about__header__logo {
            font-size: 24px;
            font-weight: bold;
        }
        .about__header__list {
            padding: 0;
            font-size: 0;
            .about__header__list__item {
                display: inline-block;
                font-size: 14px;
                list-style: none;
                padding: 0 5px;
                transition: all .5s ease;
                &:hover {
                    color: darken($blue, 30%);
                    cursor: pointer;
                }
            }

        }
    }
    .about_hz {
        background-image: url('../img/about.jpg');
        height: 100%;
        background-size: 100% 100%;
        background-attachment: fixed;  
        padding: 100px;
        // display: flex;
        // justify-content: space-around;
        // .split {
        //     width: 50%;
        // }
        .about__text {
            
            .about__text__title {
                margin: 0;
                font-size: 36px;
            }
            .about__text__p1 {
                font-size: 16px;
            }
            .about__text__p2 {
                font-size: 16px;

            }
                
            .about__text__button {
                border: none;
                background: $blue;
                text-transform: uppercase;
                padding: 0.8em 1.5em;
                border: 2px solid transparent;
                transition: all .5s ease;
                &:hover {
                    background: transparent;
                    border: 2px solid $blue;
                    cursor: pointer;
                }
            }
        }
    }
}

.how-works {
    background: $dark;
    color: #FFF;
    padding: 60px;
    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .how-works__mark {
            display: grid;
            justify-items: center;
            span {
                font-family: 'Aleo';
                font-size: 36px;
            }
        }
        
    }
}

